# ZKP GovID Simulator Endpoint URL
VITE_ZKP_SERVER_URL=http://localhost:5001/api

# DRP Frontend Private Key for Cryptographic Payload Signing
VITE_FRONTEND_PRIVATE_KEY=
# Registration Secret / Admin Secret for ZKP Server Payload Processing
VITE_REGISTRATION_SECRET=default_admin_secret
